* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header__top {
  background: #222;
  padding: 19px 0;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left a:first-child {
  margin-right: 41px;
}

.header__right img:not(:last-child) {
  margin-right: 33px;
}

.header__navigation {
  background: #F8F3F4;
}

.header__navigation div {
  height: 148px;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.header__menu li:last-child {
  padding-left: 5px;
}

.header__menu li:not(:last-child) {
  padding: 0 5px 0;
  border-right: 1px solid #636363;
  transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
}

.header__menu li a {
  display: block;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.header__menu li:last-child a {
  color: #F16D7F;
}

.header__menu li:not(:last-child) a {
  transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
}

.product__option {
  padding: 51px 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-weight: 300;
}

.product__filter {
  width: 372px;
  margin-left: 18px;
}

.product__filter a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.product__filter a img {
  margin-left: 11px;
}

.product__sort {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__sort li:not(:last-child) {
  margin-right: 28px;
}

.product__sort a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product__sort a img {
  margin-left: 10px;
}

.product__sort {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

main.cart__wrap {
  padding: 96px 0 128px;
}

details summary::-webkit-details-marker {
  display: none;
}

.cart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.cart__product {
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__product img {
  width: 262px;
  height: 306px;
}

.cart__product h2 {
  margin: 22px 57px 42px 31px;
  max-width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222;
}

.cart__product ul {
  list-style: none;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__product ul span {
  font-size: 22px;
  line-height: 26px;
  color: #F16D7F;
}

.cart__product ul li {
  margin-left: 31px;
}

.cart__control {
  margin-top: 72px;
}

.cart__control button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 225px;
  height: 50px;
  border: 1px solid #A4A4A4;
}

.cart__product input[type='number'] {
  margin-left: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  -moz-appearance: textfield;
}

.cart__product input::-webkit-outer-spin-button,
.cart__product input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart__product button {
  margin: 28px 22px 0 0;
  width: 18px;
  height: 18px;
}

.cart__product svg {
  fill: #575757;
}

.cart__form p {
  margin-top: 17px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.cart__form input {
  display: block;
  margin-top: 21px;
  padding-left: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  height: 44px;
  border: 1px solid #A4A4A4;
}

.cart__form button {
  margin-top: 24px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
  width: 100px;
  height: 34px;
  border: 1px solid #A4A4A4;
}

.cart__total {
  margin-top: 57px;
  padding: 39px 0 42px;
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  text-align: end;
}

.cart__total p {
  margin: 0 34px;
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
}

.cart__total p:last-of-type {
  margin: 12px 37px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.cart__total p span {
  margin-left: 26px;
}

.cart__total p:last-of-type span {
  color: #F16D7F;
}

.cart__total hr {
  margin: 21px 42px 0;
  background: #E2E2E2;
}

.cart__total button {
  margin: 17px 42px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  width: 273px;
  height: 50px;
  background: #F16D7F;
}

.main__promo {
  background: #F1E4E6;
  height: 764px;
}

.promo__flex {
  height: 100%;
  background: url(../img/promo.png) no-repeat -228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo__title {
  max-width: 430px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222;
}

.promo__title span:first-child {
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  color: #222;
}

.promo__title span:last-child {
  color: #F16D7F;
}

.product__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F7F7F7;
}

.product__presentation a {
  border: none;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__presentation a svg {
  fill: #000;
  width: 12px;
  height: 21px;
}

.product__presentation a:hover svg {
  fill: #F16D7F;
}

.product__presentation_img {
  padding-bottom: 64px;
  list-style: none;
}

.product__descriprion {
  margin-top: -64px;
  text-align: center;
  max-width: 1140px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}

.product__descriprion h2 {
  margin-top: 64px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product__descriprion article hr {
  max-width: 63px;
  border: 2px solid #F16D7F;
  display: block;
  margin: 12px auto;
}

.product__descriprion hr {
  max-width: 641px;
  border: 1px solid #EAEAEA;
  display: block;
  margin: 0 auto 65px;
}

.product__descriprion h3 {
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product__descriprion p {
  margin-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product__description_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__description_text p {
  margin-bottom: 32px;
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.product__description_sort {
  list-style: none;
  margin-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__description_sort a {
  text-decoration: none;
  border: none;
  background: #FFF;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product__description_sort a svg {
  margin: 0 23px 2px 9px;
  width: 11px;
  height: 5px;
  fill: #6F6E6E;
}

.product__description_sort li:last-child a svg {
  margin-right: 0;
}

.product__description_button {
  padding-left: 23px;
  margin-bottom: 65px;
  border: 1px solid #FF6A6A;
  background-color: #FFF;
  text-align: left;
  width: 211px;
  height: 47px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.product__description_button svg {
  margin: 0 23px -7px 0;
  fill: #EF5B70;
  width: 26px;
  height: 24px;
}

.product__description_button:hover {
  color: #FFF;
  background-color: #FF6A6A;
}

.product__description_button:hover svg {
  fill: #FFF;
}

.main__category {
  margin: 65px 0 96px 0;
}

.category__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 260px;
}

.category__item:first-child {
  background: url(../img/shadow.png), url(../img/women.png) no-repeat;
}

.category__item:nth-child(2) {
  background: url(../img/shadow.png), url(../img/men.png) no-repeat;
}

.category__item:nth-child(3) {
  background: url(../img/shadow.png), url(../img/kids.png) no-repeat;
}

.category__item:last-child {
  width: 100%;
  height: 180px;
  background: url(../img/shadow.png), url(../img/accesories.png) no-repeat;
}

.category__item h3 {
  width: 160px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
}

.category__item h3 span {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product__title {
  margin-bottom: 48px;
  text-align: center;
}

.product__title h2 {
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

.product__title p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.product__catalog {
  margin: 129px 0;
}

.product__item {
  background: #F8F8F8;
  width: 360px;
  height: 581px;
}

.product__item div {
  background: #F7E4E2;
}

.product__img {
  position: relative;
  width: 360px;
  height: 420px;
}

.product__img a {
  visibility: hidden;
  border: 1px solid #FFF;
  text-decoration: none;
  position: absolute;
  top: 188.5px;
  right: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  height: 43px;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
}

.product__img a img {
  margin-right: 11px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 26px;
  height: 24px;
}

.product__shadow {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.product__img:hover a,
.product__img:hover .product__shadow {
  visibility: visible;
}

.product__img_custom {
  margin: 10px 109px;
  width: 142px;
  height: 400px;
}

.product__item h3 {
  font-size: 13px;
  line-height: 16px;
  margin: 25px 18px 0;
}

.product__item p {
  font-weight: 300;
  margin: 13px 18px 0;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__item p:last-child {
  margin: 18px 18px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__all {
  text-align: center;
  margin: 62px 0 96px;
}

.product__button {
  padding: 14px 39px;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.product__button:hover {
  color: #FFF;
  background: #F16D7F;
}

.product__pagination {
  margin: 48px 0 96px;
  text-align: center;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.product__pagination a {
  text-decoration: none;
  color: #C4C4C4;
}

.product__pagination ul {
  padding: 12px 16px;
  margin: 0;
  width: 284px;
  list-style: none;
  border: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__pagination ul li:first-child {
  margin: 0 -4px -3px 0;
}

.product__pagination ul li:nth-child(2) a {
  color: #EF5B70;
}

.product__pagination ul li:last-child {
  margin: 0 0 -3px -4px;
}

.product__pagination_dots {
  margin: -20px;
}

footer {
  background: #222;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.footer__plus {
  margin: 104px 0;
  text-align: center;
}

.footer__plus div {
  height: 47px;
}

.footer__plus h3 {
  margin: 28px 0 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer__plus p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.footer__subscribe {
  background: url(../img/footershadow.png), url(../img/subscribe.png) no-repeat bottom;
  background-size: cover;
}

.footer__comment {
  margin: 97px 0 150px;
  text-align: center;
}

.footer__comment p {
  margin-top: 30px;
  max-width: 360px;
  font-size: 20px;
  line-height: 24px;
  color: #222;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__form p {
  max-width: 557px;
  padding: 0 103px;
  margin-bottom: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 18px;
  line-height: 30px;
  color: #222;
}

.footer__form p span {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #222;
}

.footer__email {
  padding-left: 22px;
  background: #E1E1E1;
  opacity: 0.67;
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  width: 256px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  color: #222;
}

.footer__button {
  margin-left: -4px;
  background: #F16D7F;
  text-align: center;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  width: 100px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
}

.footer__copyright {
  margin: 30px 0;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7px;
  margin: 24px 0;
  color: #000;
}

.footer__social a {
  background: #FFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

.footer__social a:hover {
  background: #F16D7F;
}

.footer__social i {
  color: #000;
}

.footer__social a:hover i {
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */