@import "_variables.scss";
@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

h1 {
    @include font(24px, 29px, $color-pink);
}

@import "_header.scss";

.product__option {
    padding: 51px 0 65px;
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 300;
}

.product__filter {
    width: 372px;
    margin-left: 18px;    
}

.product__filter a {
    text-decoration: none;
    font-weight: 600;
    @include font(14px, 17px, $color-black);
}

.product__filter a img {
    margin-left: 11px;
}

.product__sort {
    list-style: none;
    display: flex;
    justify-content:space-between;
}

.product__sort li:not(:last-child) {
    margin-right: 28px;
}

.product__sort a {
    text-decoration: none;
    @include font(14px, 17px, #6F6E6E);
}

.product__sort a img {
    margin-left: 10px;
}

.product__sort {
    @include font(14px, 17px, #6F6E6E);
}

main.cart__wrap {
    padding: 96px 0 128px;
}

details summary::-webkit-details-marker {
    display:none;
}

.cart__wrap {
    @include position-flex(space-between); 
    align-items:initial;
    flex-wrap: wrap;
}

.cart__flex {
    @include position-flex(space-between); 
    align-items:initial;
}


.cart__product {
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__product img {
    @include size(262px, 306px);
}

.cart__product h2 {
    margin: 22px 57px 42px 31px;
    max-width: 262px;
    @include font(24px, 29px, $color-dark);
}

.cart__product ul {
    list-style: none;
    @include font(22px, 26px, #575757);    
}

.cart__product ul span {
    @include font(22px, 26px, $color-pink);    
}

.cart__product ul li {
    margin-left: 31px;    
}

.cart__control {
    margin-top: 72px;
}
.cart__control button {
    font-weight: 300;
    @include font(14px, 17px, $color-black);
    @include size(225px, 50px);
    border: 1px solid #A4A4A4;
}

.cart__product input[type='number'] {
    margin-left: 25px;
    text-align: center;
    @include font(18px, 22px, #656565); 
    @include size(44px, 25px);
    border: 1px solid #EAEAEA;
    -moz-appearance: textfield;
}

.cart__product input::-webkit-outer-spin-button,
.cart__product input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cart__product button {
    margin: 28px 22px 0 0;
    @include size(18px, 18px);
}

.cart__product svg {
    fill: #575757;
}

.cart__form p {
    margin-top: 17px;
    font-weight: 300;
    @include font(16px, 19px, $color-dark);
}

.cart__form input {
    display: block;
    margin-top: 21px;
    padding-left: 17px;
    font-weight: 300;
    @include font(13px, 16px, #B1B1B1);
    @include size(359px, 44px);
    border: 1px solid #A4A4A4;
}

.cart__form button {
    margin-top: 24px;
    font-weight: 300;
    @include font(11px, 13px, #A4A4A4);
    @include size(100px, 34px);
    border: 1px solid #A4A4A4;
}

.cart__total {
    margin-top: 57px;
    padding: 39px 0 42px;
    @include size(360px, 214px);
    background: #F5F3F3;
    text-align: end;
}

.cart__total p {
    margin: 0 34px;
    @include font(11px, 13px, #A4A4A4);
}

.cart__total p:last-of-type {
    margin: 12px 37px 0;
    font-weight: 300;
    @include font(16px, 19px, $color-dark);
}

.cart__total p span {
    margin-left: 26px;
}

.cart__total p:last-of-type span {
    color: $color-pink;
}

.cart__total hr {
    margin: 21px 42px 0;
    background: #E2E2E2;
}

.cart__total button {
    margin: 17px 42px 0;
    font-weight: 300;
    @include font(16px, 19px, $color-white);
    @include size(273px, 50px);
    background: #F16D7F;
}

.main__promo {
    background: #F1E4E6;    
    height: 764px;
}

.promo__flex {
    height: 100%;
    background: url(../img/promo.png) no-repeat -228px;
    @include position-flex(flex-end);
}

.promo__title {
    max-width: 430px;
    border-left: 12px solid $color-pink;
    padding-left: 16px;
    font-weight: 700;
    @include font(32px, 38.4px, $color-dark);
}

.promo__title span:first-child {
    font-weight: 900;
    @include font(48px, 57.6px, $color-dark);
}

.promo__title span:last-child {
    color:$color-pink;
}

.product__presentation {    
    @include position-flex(space-between);
    background: #F7F7F7;
}

.product__presentation a { 
    border: none;
    background: rgba(42, 42, 42, 0.15);
    @include size(47px, 47px);
    @include position-flex();
}

.product__presentation a svg {    
    fill: $color-black;
    @include size(12px, 21px);
}

.product__presentation a:hover svg {    
    fill: $color-pink;
}

.product__presentation_img {
    padding-bottom: 64px;
    list-style: none;
}

.product__descriprion{
    margin-top: -64px;
    text-align: center;
    max-width: 1140px;
    border: 1px solid #EAEAEA;
    background: $color-white;
}

.product__descriprion h2 {
    margin-top: 64px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $color-pink;
}

.product__descriprion article  hr{
    max-width: 63px;
    border: 2px solid $color-pink;
    display: block;
    margin: 12px auto;
}

.product__descriprion hr {
    max-width: 641px;
    border: 1px solid #EAEAEA;
    display: block;
    margin: 0 auto 65px; 
}

.product__descriprion h3 {
    margin-bottom: 48px;
    font-weight: 300;
    @include font(18px, 22px, #4D4D4D);
}

.product__descriprion p {
    margin-bottom: 65px;
    font-weight: 300;
    @include font(24px, 29px, $color-pink);     
}

.product__description_text {
    display: flex;
    justify-content: center;
}

.product__description_text p {    
    margin-bottom: 32px;
    max-width: 555px;
    font-weight: 300;
    @include font(14px, 17px, #5E5E5E);   
}

.product__description_sort {
    list-style: none;
    margin-bottom: 49px;
    display: flex;
    justify-content: center;
}

.product__description_sort a {
    text-decoration: none;
    border: none;
    background: $color-white;
    @include font(14px, 17px, #6F6E6E);
}

.product__description_sort a svg {
    margin: 0 23px 2px 9px;
    width: 11px;
    height: 5px;
    fill: #6F6E6E;
}

.product__description_sort li:last-child a svg {
    margin-right: 0;
}

.product__description_button {
    padding-left: 23px;
    margin-bottom: 65px;
    border: 1px solid #FF6A6A;
    background-color: $color-white;
    text-align: left;
    @include size(211px, 47px);
    @include font(16px, 19px, #F26376);
}

.product__description_button svg {
    margin: 0 23px -7px 0;
    fill: #EF5B70;
    @include size(26px, 24px);
}

.product__description_button:hover {
    color: $color-white;
    background-color: #FF6A6A;
}

.product__description_button:hover svg {
    fill: $color-white;
}

.main__category {
    margin: 65px 0 96px 0;
}

.category__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.category__item {
    @include position-flex();
    @include size(360px, 260px);
}

.category__item:first-child {
    background: url(../img/shadow.png),url(../img/women.png) no-repeat;
}

.category__item:nth-child(2) {
    background: url(../img/shadow.png),url(../img/men.png) no-repeat;
}

.category__item:nth-child(3) {
    background: url(../img/shadow.png),url(../img/kids.png) no-repeat;
}

.category__item:last-child {
    width: 100%;
    height: 180px;
    background: url(../img/shadow.png),url(../img/accesories.png) no-repeat;
}

.category__item h3 {
    width: 160px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    @include font(16px, 19px, $color-white);
}

.category__item h3 span{
    color: $color-pink;
    font-weight: 700;
    @include font(24px, 29px, $color-pink);
}

.product__title{
    margin-bottom: 48px;
    text-align: center;
}

.product__title h2{
    @include font(30px, 36px, $color-dark);
}

.product__title p{
    @include font(14px, 17px, #9F9F9F);
}

.main__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product__catalog {
    margin: 129px 0;
}

.product__item {
    background: #F8F8F8;
    @include size(360px, 581px);
}

.product__item div {
    background: #F7E4E2;
}

.product__img {
    position: relative;
    @include size(360px, 420px);
}

.product__img a {
    visibility: hidden;
    border: 1px solid $color-white;
    text-decoration: none;
    position: absolute;
    top: 188.5px;
    right: 111px;
    @include position-flex();
    @include size(130px, 43px);
    @include font(14px, 17px, $color-white);
}

.product__img a img {
    margin-right: 11px;
    filter: brightness(0) invert(1);
    @include size(26px, 24px);
}

.product__shadow {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.product__img:hover a, 
.product__img:hover .product__shadow {
    visibility: visible;
}

.product__img_custom {
    margin: 10px 109px;
    @include size(142px, 400px);
}

.product__item h3 {
    font-size: 13px;
    line-height: 16px;
    margin: 25px 18px 0;
}

.product__item p {
    font-weight: 300;
    margin: 13px 18px 0;
    @include font(14px, 17px, #5D5D5D);
}

.product__item p:last-child {
    margin: 18px 18px 20px;
    @include font(16px, 19px, $color-pink);
}

.product__all {
    text-align: center;
    margin: 62px 0 96px;
}

.product__button {
    padding: 14px 39px;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    @include font(16px, 19px, #F26376);
}

.product__button:hover {
    color: $color-white;
    background: #F16D7F;
}

.product__pagination {
    margin: 48px 0 96px;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    @include font(16px, 19px, #C4C4C4);
}

.product__pagination a {
    text-decoration: none;
    color: #C4C4C4;
}

.product__pagination ul {
    padding: 12px 16px;
    margin:0;
    width: 284px;
    list-style: none;
    border: 1px solid #EBEBEB;
    @include position-flex(space-between);
}

.product__pagination ul li:first-child {
    margin: 0 -4px -3px 0;
}

.product__pagination ul li:nth-child(2) a {
    color: #EF5B70;
}

.product__pagination ul li:last-child {
    margin: 0 0 -3px -4px;
}

.product__pagination_dots {
    margin: -20px;
}

@import "_footer.scss";